@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/flexboxgrid-with-hide/dist/flexboxgrid.css";

body {
  margin: 0;
  overflow-y: scroll !important; //to fix material ui drawer
  overflow-x: hidden;
}


.animate-img {
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: -100%;
  opacity: 0.5;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  height: 100%;
  width: 100%;

  @media screen and (max-width: 799px) {
    & {
      display: none !important;
    }
  }
}
